@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 170, 145);
    color:black;
    font-size: 16px;
    font-weight: normal;
    font-family: "Montserrat" , sans-serif;
    
}

h1{
    text-align: center;
    font-size: 48px;
    margin-top: 15px;
}

h1{
    font-size: 32px;

}

table{
    width: 1000px;
    margin: 15px auto;
}

p{
    width: 1000px;
    height: 100px;
    padding: 0 30px;
    margin: 15px 0;
    border-left: 5px solid rgb(204, 133, 40);
    font-size: 24px;
    line-height: 100px;
}

p:hover{
    border-left:teal 5px solid ;
}

code{
    color: teal;
}


